# Dependencies
node_modules/

# Environment variables
.env

# Build output
dist/

# Logs
*.log
logs/

# Database
*.db
*.db-journal

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/migrations/
